/* Polices et styles de base */
.fredericka-the-great-regular {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Fredericka the Great", serif;
    box-sizing: border-box;
}

:root {
    --backgroud-color: #000000;
    --text-color: #999;
    --title-color: #fff;
}

/* Header et Navigation */
header {
    background-color: var(--backgroud-color);
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; 
}

nav {
    display: flex;
    justify-content: space-between;
}

/* Logo et conteneur d'image */
.image-container {
    width: 100vw;  
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 0px; 
    left: 0;
    z-index: 1; 
    cursor: pointer;
}

#logo-img {
    width: 100%;
    height: 110px;
    background-color: transparent;
}

.logo {
    position: absolute;
    top: 52vh; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: 10; 
}

.logo.open img {
    display: none; 
}

/* Menu de navigation */
nav ul {
    list-style: none;
    font-size: 1.5em;
}

nav ul li {
    display: inline-flex;
    margin: 5px 15px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

/* Menu mobile */
.menu {
    display: none; 
    width: 100%;  
    background-color: var(--backgroud-color);
    border-radius: 10px;
    z-index: 9;
}

.menu.open {
    display: flex;
    justify-content: space-evenly;
}

.menu li {
    list-style: none;
    text-align: center;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.menu li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

/* Bouton fermeture */
.close-btn {
    position: absolute;
    top: 3px;  
    right: 10px;  
    font-size: 40px;  
    color: #fff;  
    cursor: pointer;  
    display: none; 
    z-index: 11;
}

.menu.open + .close-btn {
    display: flex;
    color: #e8c500;
}

/* Contenu principal */
.BarreHaut {
    width: 100%;
    height: 100%;
}

.BarreHaut video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1;
}

.BarreMillieu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 40vh;
    transform: translateY(-50%);
}

.BarreMillieu h1 {
    font-size: 4em;
    color: #ffffff;
}

.BarreMillieu span {
    color: #e8c500;
}

.BarreMillieu a:hover {
    color: #000;
    background-color: #e8c500;
    border: 2px solid #000;
}

/* Media Queries */
@media (max-width: 920px) {
    nav ul {
        font-size: 1.3em;
        display: none;
        
    }

    .burger {
        display: block;
    }

    .close-btn {
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        align-items: center;
        justify-content: center;
        height: fit-content;
    }

    .menu.open {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .menu li {
        margin: 0;
        width: 100%;
    }

    #logo-img {
        margin-top: 60px;
    }
}