.fredericka-the-great-regular {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
}

/* Styles globaux */
* {
    margin: 0;
    padding: 0;
    font-family: "Fredericka the Great", serif;
    box-sizing: border-box;
}

/* Variables de couleurs */
:root {
    --backgroud-color: #000000;
    --text-color: #999;
    --title-color: #fff;
}

.dark-mode {
    /* Light-mode */
    --backgroud-color: #e5e5e5;
    --text-color: #000;
    --title-color: #000;
}

/* Corps de la page */
body {
    overflow: hidden;
    background-color: var(--backgroud-color);
    color: var(--text-color);
}

/* Header */
header {
    padding: 10px 30px;
    background-color: var(--backgroud-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
}

.image-container {
    width: 100vw;
    height: 15vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
}

#logo-img {
    width: 100%;
    height: 90px;
    background-color: #000;
    z-index: 5;
}

/* Liste du menu */
nav ul {
    list-style: none;
    font-size: 1.5em;
}

nav ul li {
    display: inline-flex;
    margin: 5px 15px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

/* Bouton pour le mode sombre */
#dark-theme-toggle {
    background-color: #ff4848;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    
    width: 170px;
    height: 45px;
    border-radius: 20px;
    cursor: pointer;
}

.bouton-dark a#dark {
    color: #fff;
}

.bouton-dark img {
    width: 35px;
    margin-left: 10px;
}

/* Boîte avec animation des cercles */
.boite {
    position: absolute;
    width: 700px;
    height: 700px;
    top: 100px;
    left: -300px;
    z-index: -1;
    background: transparent;
    overflow: hidden;
}

.cercle {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 50%;
    animation: animCercle 20s linear infinite;
    scale: 0.95;
}

@keyframes animCercle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cercle > .cercle {
    position: absolute;
    left: 35px;
    top: 35px;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
}

.cercle .atome {
    position: absolute;
    left: calc(50% - 13px);
    top: -13px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgb(calc(25 * var(--nume)), 73, 73);
}

.a1 {
    --nume: 1;
}

.a2 {
    --nume: 2;
}

.a3 {
    --nume: 3;
}

.a4 {
    --nume: 4;
}

.a5 {
    --nume: 5;
}

.a6 {
    --nume: 6;
}

.a7 {
    --nume: 7;
}

.a8 {
    --nume: 8;
}

.a9 {
    --nume: 9;
}

.a10 {
    --nume: 10;
}

/* Section de présentation */

.presentation {
    display: flex;
    justify-content: center;
    align-items: center; /* Ajout pour le centrage vertical */
    flex-direction: column;
    padding: 25px 150px;
    margin-top: 100px;
    z-index: 2;
    text-align: center;  /* Assurez-vous que le texte est centré */
}

.section {
    position: relative;
    justify-content: end;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 30px;
    z-index: 1;
    
}

/* Canvas en arrière-plan */
#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

/* Titres et textes de la présentation */
.presentation h2 {
    font-size: 70px;
    color: var(--title-color);
    font-weight: 600;
}

.presentation .p {
    font-size: 20px;
}

.presentation a {
    background: #ff4848;
    color: #fff;
    padding: 15px 40px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 35px;
    text-decoration: none;
    display: none;
    display: inline-block;
}

.presentation p {
    font-size: 25px;
    margin-top: 25px;
}

.title-word {
    animation: color-animation 4s linear infinite;
}

.title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
}

.title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
}

.title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
}

.title-word-4 {
    --color-1: #17494D;
    --color-2: #DF8453;
    --color-3: #3D8DAE;
}

@keyframes color-animation {
    0% {
        color: var(--color-1);
    }

    32% {
        color: var(--color-1);
    }

    33% {
        color: var(--color-2);
    }

    65% {
        color: var(--color-2);
    }

    66% {
        color: var(--color-3);
    }

    99% {
        color: var(--color-3);
    }

    100% {
        color: var(--color-1);
    }
}

/* Style du logo en mode menu */
.logo img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 5;
}

/* Style de base du logo */
.logo img {
    width: 40px;
    transition: opacity 0.3s ease;
    z-index: 5;
}

.logo {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.logo.open img {
    display: none;
    z-index: 5;
}

/* Menu caché */
.menu {
    display: none;
    width: 100%;
    background-color: var(--backgroud-color);
    border-radius: 10px;
    z-index: 5;
}

.menu.open {
    display: flex;
    justify-content: space-evenly;
}

.menu li {
    list-style: none;
    text-align: center;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.menu li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.logo.open:before {
    z-index: 5;
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
}

/* Fermeture du menu */
.close-btn {
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    display: none;
    z-index: 5;
}

.menu.open + .close-btn {
    display: block;
    color: rgba(255, 72, 72);
}

/* Liens pour contacter ou télécharger CV */
#contact-links {
    display: inline-block;
}

body.dark-mode #contact-links {
    display: none;
}

/* Visibilité en fonction du mode sombre */
.dark-mode .boite {
    display: block;
}

.dark-mode #canvas {
    display: none;
}

body:not(.dark-mode) .boite {
    display: none;
}

body:not(.dark-mode) #canvas{}

@media (max-width: 920px) {

    /* Réduire encore plus la taille de certains éléments */
    .presentation {
        padding: 10px;
        margin-top: 60px;
    }

    .presentation span {
        font-size: 0.7em;
    }

    .presentation p {
        font-size: 0.4em;
    }
    .presentation a {
        font-size: 0.9em;
    }

    /* Adapter le logo pour mobile */
    #logo-img {
        max-width: 120px;
    }

    /* Menu burger */
    nav ul {
        font-size: 0.9em;
        display: none;  /* Par défaut caché */
    }

    .menu.open {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .burger {
        display: block;
    }
    .close-btn{
        top: 61px;
    }
}

  

.endNav {
    animation: upcredits 15s linear;
    max-width: 100vw;
    max-height: 100vh;
    letter-spacing: 10px;
    text-align: center;
    font-size: 1.8rem;
    display: inline-block;
}

.endNav > div + div {
    margin-top: 1.6rem;
    margin-top: 50px;
}

.endNav strong {
    display: block;
    font-size: 3.5rem;
    font-weight: normal;
    font-weight: bold;
}

/* Animation pour faire défiler le texte */
@keyframes upcredits {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        transform: translateY(-55vh);
        opacity: 0;
    }
}

.neesha{
    background:#000;
      width:100vw;
      height:100vh;
      position:relative;
      display:none;
      grid-template-columns:.7fr 1fr
     }
    
    
    .ava{ background:url(../photo/ninja.png) no-repeat 25% 40%;
      width:100%;
      height:100vh;
      background-size: 1000px;
    transition:all 1s linear
    }
    
    .block{
      position:relative;
      }
    
    .block:before{
      position:absolute;
      content:'';
      background:black;
      clip-path:polygon(100% 0, 100% 100%, 0 100%);
     width:250px;
      height:100vh;
      left:-250px;
       transition:all 1s linear
     }
    
    .text{
     color: rgba(250,250,250,.1);
     opacity:0;
      mask-image:linear-gradient(#fff,transparent);
      transition:all 1s linear;
      padding:2rem 2rem 400px;
      text-align:justify;
      animation: scroll-reveal linear forwards;
      height:100vh;
      position: absolute;
      top: 8px;
      margin:auto;
      overflow-y:auto;
      animation-timeline: view(x);
      animation-range-start: contain 0px;
      animation-range-end: contain 00px;
      }
    
    .text:-webkit-scrollbar{
      width:2px
    }
    
    .text:-webkit-scrollbar-track{
      background:transparent
    }
    
    .text:-webkit-scrollbar-thumb{
     background:#eee
    }
    
    @keyframes  scroll-reveal {
      to {
        color:rgba(250,250,250,1);
      }
    }
    
    .indent{
      text-indent:6rem
    }
    
    .show{
      opacity:1;
      transition:all 1s linear;
      position:absolute;
      top:50%;
      left:-134px;
      color:#f2f2f2;
      padding:1rem;
      font-size:2rem;
      font-family:Arial;
    }
    
    .show hr{
      border-color:#722dcb;
      width:50%;
      margin-right:0
    }
    
    p.small{
      text-align:right;
      font-size:1rem
    }
    
    .neesha:hover .ava{
     background-position:50% 10%;
     background-size: 800px;
     opacity:1;
      transition:all 1s linear
    }
    .neesha:hover:before .ava{
        width:100%;
        background-position:50% 10%;
      height:100vh;
      background-size: 1000px;
    transition:all 1s linear
       }
    
    .neesha:hover .text {
       opacity:1;
       position: absolute;
       top: 110px;

      transition:all 1s linear
    }
    
    .neesha:hover .show{
      opacity:0;
      transition:all 1s linear
    }
    
    .neesha:hover .block:before{
      width:0;
      left:0;
       transition:all 1s linear
    }
    
    center{
      border:1px solid #fff;
      border-radius:2rem
    }

    .appliNinja{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .appliNinja{
        background: #ff4848;
        color: #fff;
        padding: 15px 40px;
        border-radius: 50px;
        cursor: pointer;
        margin-top: 35px;
        text-decoration: none;
    }